
# qunibone-platform.env
# Settings to adpater generic "QUniBone" software installation
# to "UniBone" or "QBone" platform.
#
# Bound to specific hardware, not part of github repository

# for file tree
#PLATFORM_SUFFIX=_q
PLATFORM_SUFFIX=_u

# for makefiles
#MAKE_QUNIBUS=QBUS
MAKE_QUNIBUS=UNIBUS
