
# qunibone-platform.env
# Settings to adapt generic "QUniBone" software installation
# to either "UniBone" or "QBone" hardware platform.
#
# Bound to specific hardware, not part of github repository.
# Must default to "UNIBONE" config!

# for file tree (was PLATFORM_SUFFIX)
#QUNIBONE_PLATFORM_SUFFIX=_q
QUNIBONE_PLATFORM_SUFFIX=_u

# Important for makefiles (was MAKE_QUNIBUS)
#QUNIBONE_PLATFORM=QBUS
QUNIBONE_PLATFORM=UNIBUS
